@font-face {
	font-family: Graphik;
	src: url(../fonts/GraphikRegular.otf)
}

.logo{
    width: 45px;
    height: 24px;
    text-align: left;
    margin: 15px 45px;
}
nav{
    width: auto;
    height: 50%;
}

.back{
    width: 1366px;
    height: 720px;
    background-image: url('../imagens/68303d00d517e70e9d65863bfbeb080f-pj-man-in-denim-jacket-lg@1x.png');
}


p{
    font-family: Graphik;
}

li{
    list-style-type: none;
    font-family: Graphik;
    font-size: 18px;
}

.app{
    width: 112px;
    height: 40px;
    margin-bottom: 10px;
}

label{
    font-family: Graphik;
}

.footer{
    color: white;
}
.footer:hover{
    color: #8b0ce0;
}
